In [3]:
print("Hello world")

Hello world

In [1]:
import numpy as np
list =np.array([1, 2, 3, 4, 5])

In [2]:
list

array([1, 2, 3, 4, 5])

In [5]:
list[0:4:2]

array([1, 3])

In [4]:
import pandas as pd
covid_df = pd.DataFrame([1,2,3,4,[1.2]])
covid_df

       0
0      1
1      2
2      3
3      4
4  [1.2]